@CHARSET "UTF-8";
.index-body {
	margin: 0 0 10px;
}

.index-body-left {
	position: relative;
	float: left;
	width: 190px;
	margin-right: -190px;
}

.index-body-right {
	float: right;
	width: 100%;
}

.index-body-right-child {
	margin-left: 200px;
}